<!DOCTYPE html>
<html>
<head>
  <title>EmailTracker</title>
  <%= stylesheet_link_tag    "email_tracker/application", :media => "all" %>
  <%= javascript_include_tag "email_tracker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
